.search-container

  = link_to root_path do
    .home Pizza Time!

  #notice= notice

  = render 'searchform'

  .pizza-shop
    .shop-info
      .shop-name= @scrape.first.name
      .address= @scrape.first.address
      .phone= @scrape.first.phone
      .open= @scrape.first.time ? "Open Today: #{@scrape.first.time}" : "Closed"
    #map

  .reviews-section
    - @scrape.last.each do |review|
      .reviews
        .shop-review
          .stars{id: review.rating.to_i.humanize}
            - review.rating.to_i.times do
              %i.fa.fa-star
          .name= review.username
          .picture= image_tag(review.pic)
        .review-data
          .date= review.date
          .review_text= review.text

%script{:async => "async", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBITsYDCU8mfLW9exGEBrU6vy5xTNyV264&callback=initMap"}

:javascript
  var map;
  function initMap() {
    var myLatLng = {lat: #{@location.first}, lng: #{@location.last}};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: myLatLng,
      scrollwheel: false,
      draggable: true
    });

    google.maps.event.addListener(map, 'click', function(event){
            this.setOptions({scrollwheel:true});
          });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
    });
  }
